<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/timeline.css">
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/timeline.js"></script>
        <script type="text/javascript">
            //var timeline =  new Timeline("timeline")
            //timeline.render()
            $(function(){
                var timeline= new Timeline("timeline")
                timeline.render()
            })
        </script> 
    </head>
    <body>
        <div class="header">

        </div>
        <div class="main">

        <div class="timeline-container">
            <div class="timeline">
                <section >
                      <div id="time-spot">
                        <div class="cover-top"></div>
                        <div class="content"></div>
                        <div class="cover-bottom"></div>
                      </div>
                </section>
                <section >
                    <div id="time-period">
                        <div class="content"></div>
                        <div class="shadow-seperator"></div>
                        <div class="axis"></div>
                    </div>
                </section>
            </div>
        </div>
        
    </div></body>
</html>